@{
    ViewData["Title"] = "Coraline";
}

<div class="text-center">
    <img src="coraline.jpg" alt="coraline" class="img-fluid mb-4" style="margin: 200px;">
    <h1 class="display-4">Coraline</h1>
    <p>
     

    </p>
</div>
