@{
    ViewData["Title"] = "Coraline";
}

<div class="text-center">
    <img src="./lib/coraline.jpg" alt="Coraline" class="img-fluid mb-4" style="margin: 200px;">
    <h1 class="display-4">Coraline</h1>
    <p>
        "Coralline" es una novela juvenil escrita por Richelle Mead, publicada en 2015. La historia se centra en una joven llamada Tavia Michaels, quien vive en un mundo donde las personas han desarrollado habilidades especiales tras la Tercera Guerra Mundial. Estas habilidades se conocen como "el don".

        Tavia es una persona única porque no tiene don, lo cual la hace sentirse marginada y diferente en su comunidad. Sin embargo, un día descubre que tiene la habilidad de comunicarse con los animales marinos, especialmente con un delfín llamado Coraline. Este descubrimiento la lleva a una aventura emocionante y peligrosa mientras intenta proteger a Coraline y descubre secretos ocultos sobre su mundo y su propia identidad.

        La novela aborda temas de identidad, aceptación personal y la importancia de la diversidad, mientras Tavia se enfrenta a desafíos que ponen a prueba su valentía y su determinación. "Coralline" combina elementos de ciencia ficción con una historia de crecimiento personal, ofreciendo una lectura cautivadora para adolescentes interesados en aventuras fantásticas y personajes fuertes.

    </p>
</div>
